{{ if eq .machine "desktop" -}}
file:///home/eli/Documents
file:///home/eli/Music
file:///home/eli/Pictures
file:///home/eli/Videos
file:///home/eli/Downloads
{{ else -}}
file:///home/eli/Projects
file:///home/elijah.zimmerman/Documents
file:///home/elijah.zimmerman/Music
file:///home/elijah.zimmerman/Pictures
file:///home/elijah.zimmerman/Videos
file:///home/elijah.zimmerman/Downloads
{{ end }}