{{ if eq .wm "i3" -}}
file:///home/elijah.zimmerman/Documents
file:///home/elijah.zimmerman/Music
file:///home/elijah.zimmerman/Pictures
file:///home/elijah.zimmerman/Videos
file:///home/elijah.zimmerman/Downloads
{{ else -}}
file:///home/eli/Projects
file:///home/elijah.zimmerman/Documents
file:///home/elijah.zimmerman/Music
file:///home/elijah.zimmerman/Pictures
file:///home/elijah.zimmerman/Videos
file:///home/elijah.zimmerman/Downloads
{{ end }}